# Ignore virtual environment
venv/

# Ignore SQLite database
db.sqlite3

# Ignore environment variable files
.env

# Ignore compiled Python files
__pycache__/
*.py[cod]

# Ignore Django migrations
**/migrations/

# Ignore other cache or backup files
*.log
*.bak
*.swp
