{% extends "classes/base.html" %}

{% block header %}
    {% include "classes/partials/class_detail_header.html" %}
{% endblock header %}

{% block content %}
<div class="section_gap registration_area d-flex justify-content-center" style="margin-top: 0;"> <!-- Set margin-top to 0 -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col-sm-10">
                <h3 style="font-size: 28px; color: #fff;">Your password has been reset successfully!</h3>
            </div>
        </div>
    </div>
</div>
{% endblock %}
