{% extends "classes/base.html" %}

{% block header %}
    {% include "classes/partials/class_detail_header.html" %}
{% endblock header %}

{% block content %}
<div class="section_gap registration_area d-flex justify-content-center" style="margin-top: 0;"> <!-- Set margin-top to 0 -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col-sm-10">
                <h3 style="font-size: 28px; color: #333;">Set a New Password</h3>
                <form method="post">
                    {% csrf_token %}
                    <div class="form_group mb-3">
                        {{ form.new_password1.label_tag }}
                        {{ form.new_password1 }}
                        {% if form.new_password1.errors %}
                            <div class="errorlist text-danger">
                                {% for error in form.new_password1.errors %}
                                    <small>{{ error }}</small>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="form_group mb-3">
                        {{ form.new_password2.label_tag }}
                        {{ form.new_password2 }}
                        {% if form.new_password2.errors %}
                            <div class="errorlist text-danger">
                                {% for error in form.new_password2.errors %}
                                    <small>{{ error }}</small>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-lg-12 text-center mt-3">
                        <button class="primary-btn" type="submit">Set New Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
